@model StudentAPPWEB.ViewModels.HomeDetailsViewModel
@{
Layout="~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Student Details";
}
<h1>@Model.Title</h1>


<div>
    Name: @Model.Student.LastName @Model.Student.FirstName
</div>
<div>
    Email: @Model.Student.Email
</div>
<div>
    Univercity: @Model.Student.Univercity
</div>

